/* Footer */
footer {
    height: 200px;
    padding: 0px 120px;
    background-color: var(--black-color);
}

.logo {
    color: var(--black-color);
    font-weight: var(--font-bold);
    font-size: var(--xl-font-size);
}

.highlight {
    color: var(--primary-color);
}

.footer--section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left--section .logo {
    color: var(--white-color);
}

.footer-right--section {
    width: 577px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right-title {
    color: var(--white-color);
    font-size: var(--l-font-size);
    font-weight: var(--font-semibold);
}

.footer-menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu a{
    color: var(--white-color);
    font-size: var(--m-font-size);
    font-weight: var(--font-regular);
}

.item-3 .footer-menus {
    flex-direction: row;
}

